

.add-enterprise{
    width: 75vw;
    display:flex;
    flex-direction: column;
    flex-basis: 50%;
    padding: 50px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    text-align: center;
    margin: 10px auto;
  }
  .add-form{
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    width: 90%;
    justify-content: center;
  }
  .add-form label{
    font-size: 24px;
  }
  .add-input{
    background: #fff;
    padding: 15px 20px;
    height: 48px;
    margin-top: 1.5rem ;
    margin-bottom: 1.5rem;
    border: 1px solid #cccccc;
    font-size: 17px;
  }
  .add-textarea{
    background: #fff;
    padding: 15px 20px;
    margin-top: 1.5rem ;
    margin-bottom: 1.5rem;
    border: 1px solid #cccccc;
    font-size: 14px;
    resize: none;
  }
  .add-input-logo{
    background: #fff;
    padding: 15px 20px;
    height: 48px;
    margin-top: 1.5rem auto;
    font-size: 14px;
  }
  .add-input-images{
    display: none;
  }
  .add-button, .upload-image{
    margin: 0 auto;
    padding: 17px 30px;
    border-radius: 10px;
    background: #2e7eed;
    color: #fff;
    outline: none;
  }
  .delete-button{
    margin: 0 auto;
    padding: 10px 10px;
    border-radius: 10px;
    background: #ed2e2e;
    color: #fff;
    outline: none;
  }
  .add-title{
    font-size: 40px;
    text-align: left;
  }
  @media (max-width: 1024px) {
    .add-enterprise{
      padding: 30px;
      width: 80vw;
    }
    .add-button{
      margin: 0 auto;
    }
  
    .add-form{
      margin: 10px auto;
      display: flex;
      flex-direction: column;
      width:95%;
      justify-content: center;
    }
    
  }